<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{publisher}}: Demo Page</title>

  <link rel="preconnect" href="https://securepubads.g.doubleclick.net" crossorigin="anonymous">

  {{> partials/head }}

  <!-- sourcepoint stub -->
  <script type="text/javascript">
    //@formatter:off
    !function () { var e = function () { var e, t = "__tcfapiLocator", a = [], n = window; for (; n;) { try { if (n.frames[t]) { e = n; break } } catch (e) { } if (n === window.top) break; n = n.parent } e || (!function e() { var a = n.document, r = !!n.frames[t]; if (!r) if (a.body) { var i = a.createElement("iframe"); i.style.cssText = "display:none", i.name = t, a.body.appendChild(i) } else setTimeout(e, 5); return !r }(), n.__tcfapi = function () { for (var e, t = arguments.length, n = new Array(t), r = 0; r < t; r++)n[r] = arguments[r]; if (!n.length) return a; if ("setGdprApplies" === n[0]) n.length > 3 && 2 === parseInt(n[1], 10) && "boolean" == typeof n[3] && (e = n[3], "function" == typeof n[2] && n[2]("set", !0)); else if ("ping" === n[0]) { var i = { gdprApplies: e, cmpLoaded: !1, cmpStatus: "stub" }; "function" == typeof n[2] && n[2](i) } else a.push(n) }, n.addEventListener("message", (function (e) { var t = "string" == typeof e.data, a = {}; try { a = t ? JSON.parse(e.data) : e.data } catch (e) { } var n = a.__tcfapiCall; n && window.__tcfapi(n.command, n.version, (function (a, r) { var i = { __tcfapiReturn: { returnValue: a, success: r, callId: n.callId } }; t && (i = JSON.stringify(i)), e.source.postMessage(i, "*") }), n.parameter) }), !1)) }; "undefined" != typeof module ? module.exports = e : e() }();
    //@formatter:on
  </script>
  <script>
    window._sp_ = {
      config: {
        accountId: 270,
        baseEndpoint: 'https://cdn.privacy-mgmt.com',
        propertyHref: 'https://local.h5v.eu'
      }
    }
  </script>
  <script async src="https://cdn.privacy-mgmt.com/wrapperMessagingWithoutDetection.js"></script>

  <style>
    body {
      display: flex;
    }

    .u-mtm {
      margin-top: 1rem;
    }
  </style>
</head>


<!-- ------------------- -->
<!-- MOLI PUBLISHER CODE -->
<!-- ------------------- -->

<script>
  const iabChannel = 'Automotive';

  // que setup
  window.moli = window.moli || {que: []};

  // push commands

  // labels
  window.moli.que.push(function (moliAdTag) {

    moliAdTag.addLabel(iabChannel);

    // parse query params to activate certain outstream partners
    // this only works in modern browsers
    const params = new URLSearchParams(window.location.search);

    params.getAll('label').forEach(label => moliAdTag.addLabel(label));

  });
  // targeting
  window.moli.que.push(function (moliAdTag) {

    // array of normalized tags
    moliAdTag.setTargeting('tags', ['auto', 'waschmaschine']);
    // allows targeting for verticals
    moliAdTag.setTargeting('channel', iabChannel);

  });

  // hooks
  window.moli.que.push(function (moliAdTag) {
    moliAdTag.beforeRequestAds((config) => {
      console.log('before request ads hook', config);
    });

    moliAdTag.afterRequestAds((state) => {
      console.log('after request ads hook. State:', state);
    });
  });

  // request ads
  window.moli.que.push(function (moliAdTag) {
    moliAdTag.requestAds();
  });

</script>

<body>
<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-4">
      {{#if es5Mode }}<span class="badge badge-pill badge-warning">ES5</span>{{else~}}
        <span class="badge badge-pill badge-danger">ES6</span>{{/if}}
      {{#unless production }}<span class="badge badge-pill badge-warning">DEV</span>{{/unless}}
      Publisher Mode Demo: {{publisher}}
    </h1>
    <p class="lead">This page contains the complete ad configuration</p>
    <hr class="my-4">
    <h3>Integration</h3>
    <p>This code should be placed in the head of your page</p>
    <pre><code id="integration-code" class="html">&lt;!-- your ad tag --&gt;
      {{#if es5Mode~}}
        &lt;script defer nomodule src="[[domain]]{{#if production}}{{currentFilename}}{{else}}moli.es5.js{{/if}}"&gt;&lt;/script&gt;
      {{~ else ~}}
        &lt;script defer type="module" src="[[domain]]{{#if production}}{{currentFilename}}{{else}}moli.mjs{{/if}}"&gt;&lt;/script&gt;
      {{~/if}}</code></pre>

    <p>In publisher mode the publisher site needs to trigger the <code>requestAds()</code> method. This test pages
      executes this additional javascript</p>
    <pre><code class="javascript">window.moli = window.moli || {que: []};
    window.moli.que.push(function (moliAdTag) {

    // trigger ads
    moliAdTag.requestAds();
    });</code></pre>

    <h3>Consent Management</h3>
    <button class="btn btn-secondary" onclick="window._sp_.loadPrivacyManagerModal(167759)">Sourcepoint privacy
      manager
    </button>

    <h3>Moli Console</h3>
    <p>You can get more details by opening the moli console.</p>
    <button class="btn btn-success" onclick="window.moli.openConsole()">Open Moli Console</button>
    <a class="btn btn-secondary" href="?moliDebug=true">enable ad tag console logs</a>
    <a class="btn btn-secondary" href="?pbjs_debug=true">enable prebid console logs</a>
    <a class="btn btn-secondary" href="?moliEnv=test">enable test mode</a>

    <p>Or if you are a developer, type this into the javascript console:</p>
    <pre><code class="html hljs xml">moli.openConsole()</code></pre>


    <div class="list-group">
      <a href="?label=appnexusAst&moliDebug=true" class="list-group-item list-group-item-action">Activate AppNexus</a>
      <a href="?label=dspx&moliDebug=true" class="list-group-item list-group-item-action">Activate DSPX</a>
      <a href="?label=rubicon&moliDebug=true" class="list-group-item list-group-item-action">Activate Rubicon</a>
    </div>

  </div>


  <div class="row">
    <div class="col-md">
      <h1>content_1 (banner)</h1>
      <div id="ad_content_1" style="max-height: 340px; max-width: 728px;"></div>
    </div>
    <div class="col-md">
      <h1>content_2 (banner and outstream)</h1>
      <div id="ad_content_2" style="max-height: 340px; max-width: 728px;"></div>
    </div>
  </div>
  <hr>

</div>
<!-- update the [[domain]] variable in the integration example -->
<script>
  const code = document.getElementById('integration-code');
  if (code) {
    code.innerText = code.innerText.replaceAll('[[domain]]', location.protocol + '//' + location.host + location.pathname.substring(0, location.pathname.lastIndexOf('/')) + '/');
  }
</script>

{{#if es5Mode }}
  <script defer src="{{#if production}}{{currentFilename}}{{else}}moli.es5.js{{/if}}"></script>
{{else}}
  <script defer type="module" src="{{#if production}}{{currentFilename}}{{else}}moli.mjs{{/if}}"></script>
{{/if}}

{{> partials/foot }}

</body>
</html>
