<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{publisher}}: Demo Page</title>

  <link rel="preconnect" href="https://securepubads.g.doubleclick.net" crossorigin="anonymous">

  {{> partials/head }}

  <!-- sourcepoint stub -->
  <script type="text/javascript">
    //@formatter:off
    !function () { var e = function () { var e, t = "__tcfapiLocator", a = [], n = window; for (; n;) { try { if (n.frames[t]) { e = n; break } } catch (e) { } if (n === window.top) break; n = n.parent } e || (!function e() { var a = n.document, r = !!n.frames[t]; if (!r) if (a.body) { var i = a.createElement("iframe"); i.style.cssText = "display:none", i.name = t, a.body.appendChild(i) } else setTimeout(e, 5); return !r }(), n.__tcfapi = function () { for (var e, t = arguments.length, n = new Array(t), r = 0; r < t; r++)n[r] = arguments[r]; if (!n.length) return a; if ("setGdprApplies" === n[0]) n.length > 3 && 2 === parseInt(n[1], 10) && "boolean" == typeof n[3] && (e = n[3], "function" == typeof n[2] && n[2]("set", !0)); else if ("ping" === n[0]) { var i = { gdprApplies: e, cmpLoaded: !1, cmpStatus: "stub" }; "function" == typeof n[2] && n[2](i) } else a.push(n) }, n.addEventListener("message", (function (e) { var t = "string" == typeof e.data, a = {}; try { a = t ? JSON.parse(e.data) : e.data } catch (e) { } var n = a.__tcfapiCall; n && window.__tcfapi(n.command, n.version, (function (a, r) { var i = { __tcfapiReturn: { returnValue: a, success: r, callId: n.callId } }; t && (i = JSON.stringify(i)), e.source.postMessage(i, "*") }), n.parameter) }), !1)) }; "undefined" != typeof module ? module.exports = e : e() }();
    //@formatter:on
  </script>
  <script>
    window._sp_ = {
      config: {
        accountId: 270,
        baseEndpoint: 'https://cdn.privacy-mgmt.com',
        propertyHref: 'https://local.h5v.eu',
        gdpr: { }
      }
    }
  </script>
  <script async src="https://cdn.privacy-mgmt.com/unified/wrapperMessagingWithoutDetection.js"></script>

  <style>
    body {
      display: flex;
    }

    .u-mtm {
      margin-top: 1rem;
    }
  </style>

  <!-- mobile sticky ad -->
  <style>
    .h5-sticky-ad {
      background-color: #f3f3f3;
      border: none;
      bottom: 0;
      box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2);
      height: 59px;
      left: 0;
      padding: 5px;
      position: fixed;
      text-align: center;
      width: 100%;
      z-index: 900; /* set this to a value that enables the sticky ad to overlap any other elements on the page. */
    }

    .h5-sticky-ad-close {
      background-color: #f3f3f3;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='13' height='13' viewBox='341 8 13 13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%234F4F4F' d='M354 9.31L352.69 8l-5.19 5.19L342.31 8 341 9.31l5.19 5.19-5.19 5.19 1.31 1.31 5.19-5.19 5.19 5.19 1.31-1.31-5.19-5.19z' fill-rule='evenodd'/%3E%3C/svg%3E");
      background-position: 9px;
      background-repeat: no-repeat;
      background-size: 13px 13px;
      border: none;
      border-top-left-radius: 12px;
      box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2);
      height: 28px;
      padding: 6px;
      position: absolute;
      right: 0;
      top: -28px;
      width: 28px;
    }

    .h5-sticky-ad-close::before {
      bottom: 0;
      content: "";
      left: -20px;
      position: absolute;
      right: 0;
      top: -20px;
    }

    .u-visible-desktop {
      display: none;
    }

    @media (min-width: 768px) {
      .u-hidden-desktop {
        display: none;
      }

      .u-visible-desktop {
        display: block;
      }
    }
  </style>

  <!-- floor ad -->
  <style>
    .h5-footer-ad-container {
      display: none;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      max-width: 970px;
      overflow: visible;
      position: fixed;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 900; /* set this to a value that enables the footer ad to overlap any other elements on the page. */
    }

    @media (min-width: 1000px) {
      .h5-footer-ad-close {
        border-radius: 0 12px 12px 0;
        height: 60px;
        width: 24px;
        right: -24px;
        top: 0
      }
    }

    .h5-footer-ad-close {
      align-items: center;
      appearance: none;
      background-color: #cbcdce;
      border: 2px solid #222223;
      border-radius: 12px 12px 0 0;
      color: #222223;
      display: flex;
      height: 24px;
      justify-content: center;
      position: absolute;
      right: 0;
      top: -24px;
      width: 60px;
    }
    .h5-footer-ad-close:hover {
      background-color: white;
    }

    .h5-footer-ad-close::after {
      content: "×";
      display: inline-block;
    }

    .is-shifted-bottom {
      margin-bottom: -70px;
    }

    .is-shifted-bottom:hover {
      margin-bottom: 0;
    }
  </style>
</head>


<!-- ------------------- -->
<!-- MOLI PUBLISHER CODE -->
<!-- ------------------- -->

<script>
  const vertical = 'gutefrage';
  const iabChannel = 'Automotive';

  // que setup
  window.moli = window.moli || {que: []};

  // push commands

  // labels
  window.moli.que.push(function (moliAdTag) {

    moliAdTag.addLabel(vertical);
    moliAdTag.addLabel(iabChannel);

    // parse query params to activate certain outstream partners
    // this only works in modern browsers
    const params = new URLSearchParams(window.location.search);

    params.getAll('label').forEach(label => moliAdTag.addLabel(label));

  });
  // targeting
  window.moli.que.push(function (moliAdTag) {

    // array of normalized tags
    moliAdTag.setTargeting('tags', ['auto', 'waschmaschine']);
    // allows targeting for verticals
    moliAdTag.setTargeting('vertical', vertical);
    // marketing channel
    moliAdTag.setTargeting('channel', iabChannel);

    // allows targeting adult content
    moliAdTag.setTargeting('isAdultContent', 'false');
    // allows targeting for user agents
    moliAdTag.setTargeting('supportedUserAgent', 'true');

    // resolve paths
    moliAdTag.setAdUnitPathVariables({ category: 'seo' });
  });

  // hooks
  window.moli.que.push(function (moliAdTag) {
    moliAdTag.beforeRequestAds((config) => {
      console.log('before request ads hook', config);
    });

    moliAdTag.afterRequestAds((state) => {
      console.log('after request ads hook. State:', state);
    });
  });

  // request ads
  window.moli.que.push(function (moliAdTag) {
    moliAdTag.requestAds();
  });

</script>

<body>
<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-4">
      {{#if es5Mode }}<span class="badge badge-pill badge-warning">ES5</span>{{else~}}
        <span class="badge badge-pill badge-danger">ES6</span>{{/if}}
      {{#unless production }}<span class="badge badge-pill badge-warning">DEV</span>{{/unless}}
      Publisher Mode Demo: {{publisher}}
    </h1>
    <p class="lead">This page contains the complete ad configuration</p>
    <hr class="my-4">
    <h3>Integration</h3>
    <p>This code should be placed in the head of your page</p>
    <pre><code id="integration-code" class="html">&lt;!-- your ad tag --&gt;
      {{#if es5Mode~}}
        &lt;script defer nomodule src="[[domain]]{{#if production}}{{currentFilename}}{{else}}moli.es5.js{{/if}}"&gt;&lt;/script&gt;
      {{~ else ~}}
        &lt;script defer type="module" src="[[domain]]{{#if production}}{{currentFilename}}{{else}}moli.mjs{{/if}}"&gt;&lt;/script&gt;
      {{~/if}}</code></pre>

    <p>In publisher mode the publisher site needs to trigger the <code>requestAds()</code> method. This test pages
      executes this additional javascript</p>
    <pre><code class="javascript">window.moli = window.moli || {que: []};
    window.moli.que.push(function (moliAdTag) {

    // trigger ads
    moliAdTag.requestAds();
    });</code></pre>

    <h3>Consent Management</h3>
    <button class="btn btn-secondary" onclick="window._sp_.gdpr.loadPrivacyManagerModal(167759)">Sourcepoint privacy
      manager
    </button>

    <h3>Moli Console</h3>
    <p>You can get more details by opening the moli console.</p>
    <div class="d-flex flex-wrap">
      <button class="btn btn-success flex-fill mr-3 mb-3" onclick="window.moli.openConsole()">Open Moli Console
      </button>
      <a class="btn btn-outline-primary flex-fill mr-3 mb-3" href="?moliDebug=true">enable ad tag console logs</a>
      <a class="btn btn-primary flex-fill mr-3 mb-3" href="?pbjs_debug=true">enable prebid console logs</a>
      <a class="btn btn-info flex-fill mr-3 mb-3" href="?moliEnv=test">enable test mode</a>
    </div>

    <p>Or if you are a developer, type this into the javascript console:</p>
    <pre><code class="html hljs xml">moli.openConsole()</code></pre>

    <h3>Mobile Sticky</h3>
    <p>
      <button class="btn btn-primary" onclick="moli.refreshAdSlot('ad-mobile-sticky')">Load sticky</button>
    </p>
    <p>Trigger a campaing that runs on the second page view</p>
    <pre><code>googletag.pubads()
  .setTargeting('pageview', '2');</code></pre>

    <h3>Outstream</h3>
    <p>Activate one or more outstream partners by adding them to a <code>label</code> query parameter. Examples</p>

    <div class="list-group">
      <a href="?label=appnexusAst&moliDebug=true" class="list-group-item list-group-item-action">Activate AppNexus</a>
      <a href="?label=spotx&moliDebug=true" class="list-group-item list-group-item-action">Activate Spotx</a>
      <a href="?label=teads&moliDebug=true" class="list-group-item list-group-item-action">Activate Teads</a>
      <a href="?label=unruly&moliDebug=true" class="list-group-item list-group-item-action">Activate Unruly</a>
      <a href="?label=dspx&moliDebug=true" class="list-group-item list-group-item-action">Activate DSPX</a>
      <a href="?label=showheroesBs&moliDebug=true" class="list-group-item list-group-item-action">Activate
        ShowHeroes</a>
      <a href="?label=a9&moliDebug=true" class="list-group-item list-group-item-action">Activate A9</a>
      <a href="?label=rubicon&moliDebug=true" class="list-group-item list-group-item-action">Activate Rubicon</a>
    </div>

  </div>

  <div class="row">
    <div class="col-md">
      <h1>Native Example 1</h1>
      <div id="appnexus-native-example-1"></div>
    </div>
    <div class="col-md">
      <h1>Native Example 2</h1>
      <div id="appnexus-native-example-2"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <h1>Prebid AdSlot with outstream</h1>
      <div id="prebid-adslot" style="max-height: 340px; max-width: 605px;"></div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md">
      <h1>Eager Loading AdSlot</h1>
      <div id="eager-loading-adslot"></div>
    </div>
    <div class="col-md">
      <h1>Amazon A9 AdSlot</h1>
      <div id="a9-adslot"></div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md">
      <h1>Lazy Loading AdSlot-1</h1>
      <div id="lazy-loading-adslot-1" style="height: 500px"></div>
    </div>
  </div>

  <hr>


  <div class="row">
    <div class="alert alert-info w-100">
      <h2>Trigger <code>ads.refreshable-adslot-2</code>
        <button class="btn btn-primary" onclick="window.dispatchEvent(new Event('ads.refreshable-adslot-2'))">Refresh
        </button>
      </h2>
    </div>
    <div class="col-md">
      <h1>Prebid AdSlot Banner only (listening for <code>ads.refreshable-adslot-2</code>)</h1>
      <div id="prebid-adslot-2"></div>
    </div>
    <div class="col-md">
      <h1>Refreshable AdSlot (listening for <code>ads.refreshable-adslot-2</code>)</h1>
      <div id="refreshable-adslot"></div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md">
      <h1>Lazy AdSlot</h1>
      <p>
        <button class="btn btn-primary" onclick="window.dispatchEvent(new Event('ads.lazy-adslot'))">Load</button>
      </p>
      <div id="lazy-adslot"></div>
    </div>
    <div class="col-md">
      <h1>Refreshable AdSlot 3</h1>
      <p>
        <button class="btn btn-primary" onclick="window.dispatchEvent(new Event('ads.refreshable-adslot'))">Refresh
        </button>
      </p>
      <div id="refreshable-adslot-3"></div>
    </div>
    <div class="col-md">
      <h1>Manual AdSlot</h1>
      <p>
        <button class="btn btn-primary" onclick="moli.refreshAdSlot('manual-adslot')">Refresh</button>
      </p>
      <div id="manual-adslot"></div>
    </div>
    <div class="col-md">
      <h1>Web interstitial</h1>
      <a href="https://support.google.com/admanager/answer/9840201">Click to see the ad</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <h1>Lazy Loading AdSlot 2</h1>
      <div id="lazy-loading-adslot-2" style="height: 500px"></div>
    </div>
  </div>

  <hr>

  <!-- Buckets -->
  <div class="row">
    <div class="col-md">
      <h1>one bucket</h1>
      <div id="same-bucket1" style="height: 250px"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <h1>one bucket</h1>
      <div id="same-bucket2" style="height: 250px"></div>
    </div>

    <hr/>
</div>
<!-- mobile sticky ad -->
<div class="h5-sticky-ad u-hidden-desktop" data-ref="sticky-ad">
  <div id="ad-mobile-sticky" class="h5-sticky-ad-container"></div>
  <button
    class="h5-sticky-ad-close"
    data-ref="sticky-ad-close"
    aria-label="Anzeige entfernen"
  ></button>
</div>

<!-- desktop floorad -->
<div data-ref="h5-footer-ad-container">
  <div id="ad-floorad"></div>
</div>

<!-- update the [[domain]] variable in the integration example -->
<script>
  const code = document.getElementById('integration-code');
  if (code) {
    code.innerText = code.innerText.replaceAll('[[domain]]', location.protocol + '//' + location.host + location.pathname.substring(0, location.pathname.lastIndexOf('/')) + '/');
  }
</script>

{{#if es5Mode }}
  <script defer src="{{#if production}}{{currentFilename}}{{else}}<%= htmlWebpackPlugin.files.js[0] %>{{/if}}"></script>
{{else}}
  <script defer type="module" src="{{#if production}}{{currentFilename}}{{else}}<%= htmlWebpackPlugin.files.js[0] %>{{/if}}"></script>
{{/if}}

{{> partials/foot }}

</body>
</html>
